.screen {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 8.8rem;
  background-color: var(--screen-bg-1);
  border-radius: 1rem;
  margin: 3.2rem 0 2.4rem;
  padding-right: 2.4rem;
}

.output {
  color: var(--text-common-white);
  font-size: 4rem;
  letter-spacing: -0.667px;
}

/* ---- Media Queries ---- */
@media (min-width: 1024px) {
  .screen {
    height: 12.8rem;
    padding-right: 3.2rem;
  }

  .output {
    font-size: 5.6rem;
    letter-spacing: -0.933px;
  }
}
