:root {
  /* Background Colors */

  /* Theme Original  */
  --main-bg-1: hsl(222, 26%, 31%);
  --toggle-keypad-bg-1: hsl(223, 31%, 20%);
  --screen-bg-1: hsl(224, 36%, 15%);

  /* Theme Ice */
  --main-bg-2: hsl(0, 0%, 90%);
  --toggle-keypad-bg-2: hsl(0, 5%, 81%);
  --screen-bg-2: hsl(0, 0%, 93%);

  /* Theme Neon */
  --main-bg-3: hsl(268, 75%, 9%);
  --toggle-keypad-bg-3: hsl(268, 71%, 12%);
  --screen-bg-3: hsl(268, 71%, 12%);

  /* Key Colors */

  /* Theme Original */
  --key-original-theme-bg: hsl(225, 21%, 49%);
  --key-original-theme-shadow: hsl(224, 28%, 35%);
  --key-original-theme-bg-toggle: hsl(6, 63%, 50%);
  --key-original-theme-shadow-2: hsl(6, 70%, 34%);
  --key-original-theme-bg-2: hsl(30, 25%, 89%);
  --key-original-theme-shadow-3: hsl(28, 16%, 65%);

  /* Theme Ice */
  --key-ice-theme-bg: hsl(185, 42%, 37%);
  --key-ice-theme-shadow: hsl(185, 58%, 25%);
  --key-ice-theme-bg-toggle: hsl(25, 98%, 40%);
  --key-ice-theme-shadow-2: hsl(25, 99%, 27%);
  --key-ice-theme-bg-2: hsl(45, 7%, 89%);
  --key-ice-theme-shadow-3: hsl(35, 11%, 61%);

  /* Theme Neon */
  --key-neon-theme-bg: hsl(281, 89%, 26%);
  --key-neon-theme-shadow: hsl(285, 91%, 52%);
  --key-neon-theme-bg-toggle: hsl(176, 100%, 44%);
  --key-neon-theme-shadow-2: hsl(177, 92%, 70%);
  --key-neon-theme-bg-2: hsl(268, 47%, 21%);
  --key-neon-theme-shadow-3: hsl(290, 70%, 36%);

  /* Text Colors */

  /* Common */
  --text-common-white: #fff;
  /* Theme Original */
  --text-origianl-theme-1: hsl(30, 25%, 89%);
  --text-origianl-theme-2: hsl(28, 16%, 65%);

  /* Theme Ice */
  --text-ice-theme-1: hsl(60, 10%, 19%);
  --text-ice-theme-2: hsl(0, 0%, 100%);

  /* Theme Neon */
  --text-neon-theme-1: hsl(52, 100%, 62%);
  --text-neon-theme-2: hsl(198, 20%, 13%);
  --text-neon-theme-3: hsl(0, 0%, 100%);
}

/* TODO: Font size (numbers): 3.2rem */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "League Spartan", sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
